*,
::before,
::after {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(51, 51, 102);
  letter-spacing: 1.3px;
}
.btn {
  border: 1px solid #aaa;
  background: #ddd;
  color: #333;

  &:hover {
    border: 1px solid #ccc;
    background: #dde;
  }
  &:active {
    background: rgba(221, 221, 238, 0.651)
  }
}

.add-book {
  padding-top: 30px;
  padding-bottom: 12px;

  .btn {
    min-width: 100%;
    height: 45px;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1.3px;
  }
}
.book-form-wrapper {
  width: 100%;
  background: linear-gradient(to top, #dddddd80, #bbf);
}
.book-form {
  font-family: inherit;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #333;

  & > * {
    margin: 4px 10px;
  }

  h2 {
    font-size: 1.84em;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .radio-container {
    margin-top: 20px;
    min-width: 250px;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    gap: 10px;

    label {
      margin: auto 0;
    }
  }
  
  .form-button-wrapper {
    display: grid;
    justify-content: start;
    grid-auto-flow: column;
    padding: 0;
  }
  .book-submit,
  .book-cancel {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-right: 8px;
    padding: 8px 12px;
    width: 130px;
  }
}
.books-wrapper {
  background: linear-gradient(to top, #bbf, #dddddd80);
}
.books {
  .book {
    min-width: 216px;
    min-height: 250px;
    color: #333;
    padding: 30px 40px;
    margin: 12px;
    margin-top: 20px;
    background: #ffffee;
    border-radius: 3px;
    box-shadow: 3px 4px 8px -4px rgba(0, 0, 0, 0.466);
    display: grid;
    align-items: center;
    transition-property: all;
    transition-duration: .05s;
    transition-timing-function: ease-out;

    .btn:hover {
      border: 2px solid #ccc;
      background: #dde;
    }

    .btn {
      padding: 5px 0;
      border: 2px solid #ddd;
      background: #dde8;
    }
  }

  .book-info-buttons {
    display: grid;
    gap: 4px;
    grid-auto-flow: column;
  }

  p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .book-info,
  .book-delete {
    letter-spacing: 2px;
  }

  .book-back {
    font-size: 18px;
    height: 100%;
    display: grid;
    place-items: center;

    p {
      padding-left: 4px;
    }
    .btn {
      width: 100%;
    }
  }
}